In [132]:
import pandas as pd

game_df = pd.read_csv(r"database\game_data.csv")
print(game_df)
print(f"{game_df.loc[1]}")

                territory                   name      continent  value  x_cor  \
0                  alaska                 Alaska  north america      5   -451
1     northwest territory    Northwest Territory  north america      5   -397
2               greenland              Greenland  north america      5   -153
3                 alberta                Alberta  north america      5   -349
4                 ontario                Ontario  north america      5   -307
5                  quebec                 Quebec  north america      5   -208
6   western united states  Western United States  north america      5   -363
7   eastern united states  Eastern United States  north america      5   -282
8         central america        Central America  north america      5   -345
9               venezuela              Venezuela  south america      2   -261
10                   peru                   Peru  south america      2   -265
11                 brazil                 Brazil  south america      2   -204
12              argentina              Argentina  south america      2   -247
13                iceland                Iceland         europe      5    -74
14            scandinavia            Scandinavia         europe      5     11
15                ukraine                Ukraine         europe      5    115
16          great britain          Great Britain         europe      5    -94
17        northern europe        Northern Europe         europe      5      1
18         western europe         Western Europe         europe      5    -68
19        southern europe        Southern Europe         europe      5     11
20           north africa           North Africa         africa      3    -42
21                  egypt                  Egypt         africa      3     41
22            east africa            East Africa         africa      3    104
23                  congo                  Congo         africa      3     45
24           south africa           South Africa         africa      3     50
25             madagascar             Madagascar         africa      3    142
26                   ural                   Ural           asia      7    201
27                siberia                Siberia           asia      7    237
28                yakutsk                Yakutsk           asia      7    335
29              kamchatka              Kamchatka           asia      7    413
30                irkutsk                Irkutsk           asia      7    318
31               mongolia               Mongolia           asia      7    347
32                  japan                  Japan           asia      7    435
33            afghanistan            Afghanistan           asia      7    181
34                  china                  China           asia      7    285
35            middle east            Middle East           asia      7    129
36                  india                  India           asia      7    226
37                   siam                   Siam           asia      7    334
38              indonesia              Indonesia      australia      2    339
39             new guinea             New Guinea      australia      2    424
40      western australia      Western Australia      australia      2    377
41      eastern australia      Eastern Australia      australia      2    467

    y_cor                                        connections  color  troops  \
0     218            northwest territory, alberta, kamchatka      0       0
1     211                alaska, alberta, ontario, greenland      0       0
2     207      northwest territory, ontario, quebec, iceland      0       0
3     168  alaska, northwest territory, ontario, western ...      0       0
4     158  northwest territory, alberta, western united s...      0       0
5     153          ontario, eastern united states, greenland      0       0
6      93  alberta, ontario, eastern united states, centr...      0       0
7      65  western united states, ontario, quebec, centra...      0       0
8       3  western united states, eastern united states, ...      0       0
9     -31                      central america, peru, brazil      0       0
10   -112                       venezuela, brazil, argentina      0       0
11    -87           venezuela, peru, argentina, north africa      0       0
12   -158                                       peru, brazil      0       0
13    180              greenland, great britain, scandinavia      0       0
14    181   iceland, great britain, northern europe, ukraine      0       0
15    159  scandinavia, northern europe, southern europe,...      0       0
16    106  iceland, scandinavia, northern europe, western...      0       0
17     95  great britain, scandinavia, ukraine, southern ...      0       0
18     34  great britain, northern europe, southern europ...      0       0
19     30  western europe, northern europe, ukraine, midd...      0       0
20    -52  brazil, western europe, southern europe, egypt...      0       0
21    -49  north africa, southern europe, middle east, ea...      0       0
22   -143  egypt, north africa, congo, south africa, mada...      0       0
23   -150            north africa, east africa, south africa      0       0
24   -228                     congo, east africa, madagascar      0       0
25   -229                          east africa, south africa      0       0
26    131               ukraine, siberia, china, afghanistan      0       0
27    210            ural, yakutsk, irkutsk, mongolia, china      0       0
28    215                        siberia, kamchatka, irkutsk      0       0
29    210                   yakutsk, alaska, japan, mongolia      0       0
30    150              siberia, yakutsk, kamchatka, mongolia      0       0
31     98          irkutsk, siberia, china, japan, kamchatka      0       0
32     80                                kamchatka, mongolia      0       0
33     81           ukraine, ural, china, india, middle east      0       0
34     43  afghanistan, ural, siberia, mongolia, siam, india      0       0
35    -47  ukraine, southern europe, egypt, east africa, ...      0       0
36     -8              middle east, afghanistan, china, siam      0       0
37    -52                            india, china, indonesia      0       0
38   -155                siam, new guinea, western australia      0       0
39   -123    indonesia, western australia, eastern australia      0       0
40   -224           indonesia, new guinea, eastern australia      0       0
41   -254                      western australia, new guinea      0       0

    is_occupied  is_neutral
0             0           0
1             0           0
2             0           0
3             0           0
4             0           0
5             0           0
6             0           0
7             0           0
8             0           0
9             0           0
10            0           0
11            0           0
12            0           0
13            0           0
14            0           0
15            0           0
16            0           0
17            0           0
18            0           0
19            0           0
20            0           0
21            0           0
22            0           0
23            0           0
24            0           0
25            0           0
26            0           0
27            0           0
28            0           0
29            0           0
30            0           0
31            0           0
32            0           0
33            0           0
34            0           0
35            0           0
36            0           0
37            0           0
38            0           0
39            0           0
40            0           0
41            0           0
territory                      northwest territory
name                           Northwest Territory
continent                            north america
value                                            5
x_cor                                         -397
y_cor                                          211
connections    alaska, alberta, ontario, greenland
color                                            0
troops                                           0
is_occupied                                      0
is_neutral                                       0
Name: 1, dtype: object

In [187]:
def init_gamedata(df):
    df[["value", "x_cor", "y_cor", "troops"]] = df[
        ["value", "x_cor", "y_cor", "troops"]].astype(int)
    
    df[["is_occupied",  "is_neutral"]] = df[
        ["is_occupied",  "is_neutral"]].astype(bool)
    
    df = df.set_index(df.columns[0])
    # Turn connections column in list data type
    for i in df.index:
        # print(i)
        df.at[i, "connections"] = df.at[i, "connections"].split(",")
    return df

game_df = init_gamedata(game_df)
print(game_df)

AttributeError: 'list' object has no attribute 'split'

In [193]:
print(f"{game_df.loc["alaska","connections"]}")

['northwest territory', ' alberta', ' kamchatka']

In [141]:

class MapData:
    
    def __init__(self,df):
        self.territory = None
        self.construct(df)
        
    def construct(self,df):
        for territory in df.index:
            setattr(self, str(territory), {})
            for column in df.loc[territory].index:
                item_value = game_df.loc[territory,column]
                setattr(self, str(territory)[column], item_value)
            

    
    def update_info(self, column, value):
        """Updates a value in the territory's data."""
        if column in self.data:
            self.data[column] = value
 
 

        
        
map = MapData(game_df)

map.alaska
print(map.alaska)

TypeError: string indices must be integers, not 'str'

In [170]:
game_df.loc["alaska"]
for territory in game_df.index:
    # print(territory)
    for column in game_df.loc[territory].index:
        print(f"{column} {game_df.loc[territory,column]}")

name Alaska
continent north america
value 5
x_cor -451
y_cor 218
connections ['northwest territory', ' alberta', ' kamchatka']
color 0
troops 0
is_occupied False
is_neutral False
name Northwest Territory
continent north america
value 5
x_cor -397
y_cor 211
connections ['alaska', ' alberta', ' ontario', ' greenland']
color 0
troops 0
is_occupied False
is_neutral False
name Greenland
continent north america
value 5
x_cor -153
y_cor 207
connections ['northwest territory', ' ontario', ' quebec', ' iceland']
color 0
troops 0
is_occupied False
is_neutral False
name Alberta
continent north america
value 5
x_cor -349
y_cor 168
connections ['alaska', ' northwest territory', ' ontario', ' western united states']
color 0
troops 0
is_occupied False
is_neutral False
name Ontario
continent north america
value 5
x_cor -307
y_cor 158
connections ['northwest territory', ' alberta', ' western united states', ' eastern united states', ' quebec', ' greenland']
color 0
troops 0
is_occupied False
is_neutral False
name Quebec
continent north america
value 5
x_cor -208
y_cor 153
connections ['ontario', ' eastern united states', ' greenland']
color 0
troops 0
is_occupied False
is_neutral False
name Western United States
continent north america
value 5
x_cor -363
y_cor 93
connections ['alberta', ' ontario', ' eastern united states', ' central america']
color 0
troops 0
is_occupied False
is_neutral False
name Eastern United States
continent north america
value 5
x_cor -282
y_cor 65
connections ['western united states', ' ontario', ' quebec', ' central america']
color 0
troops 0
is_occupied False
is_neutral False
name Central America
continent north america
value 5
x_cor -345
y_cor 3
connections ['western united states', ' eastern united states', ' venezuela']
color 0
troops 0
is_occupied False
is_neutral False
name Venezuela
continent south america
value 2
x_cor -261
y_cor -31
connections ['central america', ' peru', ' brazil']
color 0
troops 0
is_occupied False
is_neutral False
name Peru
continent south america
value 2
x_cor -265
y_cor -112
connections ['venezuela', ' brazil', ' argentina']
color 0
troops 0
is_occupied False
is_neutral False
name Brazil
continent south america
value 2
x_cor -204
y_cor -87
connections ['venezuela', ' peru', ' argentina', ' north africa']
color 0
troops 0
is_occupied False
is_neutral False
name Argentina
continent south america
value 2
x_cor -247
y_cor -158
connections ['peru', ' brazil']
color 0
troops 0
is_occupied False
is_neutral False
name Iceland
continent europe
value 5
x_cor -74
y_cor 180
connections ['greenland', ' great britain', ' scandinavia']
color 0
troops 0
is_occupied False
is_neutral False
name Scandinavia
continent europe
value 5
x_cor 11
y_cor 181
connections ['iceland', ' great britain', ' northern europe', ' ukraine']
color 0
troops 0
is_occupied False
is_neutral False
name Ukraine
continent europe
value 5
x_cor 115
y_cor 159
connections ['scandinavia', ' northern europe', ' southern europe', ' ural', ' afghanistan', ' middle east']
color 0
troops 0
is_occupied False
is_neutral False
name Great Britain
continent europe
value 5
x_cor -94
y_cor 106
connections ['iceland', ' scandinavia', ' northern europe', ' western europe']
color 0
troops 0
is_occupied False
is_neutral False
name Northern Europe
continent europe
value 5
x_cor 1
y_cor 95
connections ['great britain', ' scandinavia', ' ukraine', ' southern europe', ' western europe']
color 0
troops 0
is_occupied False
is_neutral False
name Western Europe
continent europe
value 5
x_cor -68
y_cor 34
connections ['great britain', ' northern europe', ' southern europe', ' north africa']
color 0
troops 0
is_occupied False
is_neutral False
name Southern Europe
continent europe
value 5
x_cor 11
y_cor 30
connections ['western europe', ' northern europe', ' ukraine', ' middle east', ' egypt', ' north africa']
color 0
troops 0
is_occupied False
is_neutral False
name North Africa
continent africa
value 3
x_cor -42
y_cor -52
connections ['brazil', ' western europe', ' southern europe', ' egypt', ' east africa', ' congo']
color 0
troops 0
is_occupied False
is_neutral False
name Egypt
continent africa
value 3
x_cor 41
y_cor -49
connections ['north africa', ' southern europe', ' middle east', ' east africa']
color 0
troops 0
is_occupied False
is_neutral False
name East Africa
continent africa
value 3
x_cor 104
y_cor -143
connections ['egypt', ' north africa', ' congo', ' south africa', ' madagascar']
color 0
troops 0
is_occupied False
is_neutral False
name Congo
continent africa
value 3
x_cor 45
y_cor -150
connections ['north africa', ' east africa', ' south africa']
color 0
troops 0
is_occupied False
is_neutral False
name South Africa
continent africa
value 3
x_cor 50
y_cor -228
connections ['congo', ' east africa', ' madagascar']
color 0
troops 0
is_occupied False
is_neutral False
name Madagascar
continent africa
value 3
x_cor 142
y_cor -229
connections ['east africa', ' south africa']
color 0
troops 0
is_occupied False
is_neutral False
name Ural
continent asia
value 7
x_cor 201
y_cor 131
connections ['ukraine', ' siberia', ' china', ' afghanistan']
color 0
troops 0
is_occupied False
is_neutral False
name Siberia
continent asia
value 7
x_cor 237
y_cor 210
connections ['ural', ' yakutsk', ' irkutsk', ' mongolia', ' china']
color 0
troops 0
is_occupied False
is_neutral False
name Yakutsk
continent asia
value 7
x_cor 335
y_cor 215
connections ['siberia', ' kamchatka', ' irkutsk']
color 0
troops 0
is_occupied False
is_neutral False
name Kamchatka
continent asia
value 7
x_cor 413
y_cor 210
connections ['yakutsk', ' alaska', ' japan', ' mongolia']
color 0
troops 0
is_occupied False
is_neutral False
name Irkutsk
continent asia
value 7
x_cor 318
y_cor 150
connections ['siberia', ' yakutsk', ' kamchatka', ' mongolia']
color 0
troops 0
is_occupied False
is_neutral False
name Mongolia
continent asia
value 7
x_cor 347
y_cor 98
connections ['irkutsk', ' siberia', ' china', ' japan', ' kamchatka']
color 0
troops 0
is_occupied False
is_neutral False
name Japan
continent asia
value 7
x_cor 435
y_cor 80
connections ['kamchatka', ' mongolia']
color 0
troops 0
is_occupied False
is_neutral False
name Afghanistan
continent asia
value 7
x_cor 181
y_cor 81
connections ['ukraine', ' ural', ' china', ' india', ' middle east']
color 0
troops 0
is_occupied False
is_neutral False
name China
continent asia
value 7
x_cor 285
y_cor 43
connections ['afghanistan', ' ural', ' siberia', ' mongolia', ' siam', ' india']
color 0
troops 0
is_occupied False
is_neutral False
name Middle East
continent asia
value 7
x_cor 129
y_cor -47
connections ['ukraine', ' southern europe', ' egypt', ' east africa', ' india', ' afghanistan']
color 0
troops 0
is_occupied False
is_neutral False
name India
continent asia
value 7
x_cor 226
y_cor -8
connections ['middle east', ' afghanistan', ' china', ' siam']
color 0
troops 0
is_occupied False
is_neutral False
name Siam
continent asia
value 7
x_cor 334
y_cor -52
connections ['india', ' china', ' indonesia']
color 0
troops 0
is_occupied False
is_neutral False
name Indonesia
continent australia
value 2
x_cor 339
y_cor -155
connections ['siam', ' new guinea', ' western australia']
color 0
troops 0
is_occupied False
is_neutral False
name New Guinea
continent australia
value 2
x_cor 424
y_cor -123
connections ['indonesia', ' western australia', ' eastern australia']
color 0
troops 0
is_occupied False
is_neutral False
name Western Australia
continent australia
value 2
x_cor 377
y_cor -224
connections ['indonesia', ' new guinea', ' eastern australia']
color 0
troops 0
is_occupied False
is_neutral False
name Eastern Australia
continent australia
value 2
x_cor 467
y_cor -254
connections ['western australia', ' new guinea']
color 0
troops 0
is_occupied False
is_neutral False

In [262]:
game_data =  pd.read_csv((r"database\game_data.csv"))
# game_data = game_data.set_index(game_data.columns[0])
# game_data = game_data.set_index("territory")
# for territory in game_data.index:
# print(game_data.index[0].values)
# print(game_data.index.values)
test = game_data.loc[0,"territory"]
# game_data = game_data.set_index("territory")
# print(test)
# game_data.loc[0,"territory"] = "CAR"
# test = game_data.loc[0,"territory"]
for n,i in enumerate(game_data.index):
    game_data.loc[n,"territory"] = game_data.loc[n,"territory"].replace(" ", "_")
    print(f"{game_data.loc[n,"territory"]}")
print(test)

alaska
northwest_territory
greenland
alberta
ontario
quebec
western_united_states
eastern_united_states
central_america
venezuela
peru
brazil
argentina
iceland
scandinavia
ukraine
great_britain
northern_europe
western_europe
southern_europe
north_africa
egypt
east_africa
congo
south_africa
madagascar
ural
siberia
yakutsk
kamchatka
irkutsk
mongolia
japan
afghanistan
china
middle_east
india
siam
indonesia
new_guinea
western_australia
eastern_australia
alaska

In [ ]:
# print(game_data.index.values)

alaska_terr = game_data.loc["alaska"]
print(alaska_terr["is_occupied"])
# for index in game_data.index.values:
#     print(index)
#     print(game_data.loc[index].values)

In [3]:
x = "yeah :) "
hello = print(f"hello {x}")
print(hello)

hello yeah :)
None

In [ ]:
    def build_deck(self, world_map):
        suit_symbols = {"infantry": "üßç", "calvary": "üèá", "artillery": "üí£"}
        territory_list = [territory for territory in world_map.territories.keys()]
        cards = []
        for territory_name in territory_list:
            color = world_map.territories[territory_name].continent_color
            continent = world_map.territories[territory_name].continent_color
            suit = getattr(world_map, territory_name).card_suit
            suit_symbol = suit_symbols[f"{getattr(world_map, territory_name).card_suit}"]
            card_object = RiskCard(cards, suit, suit_symbol, color, continent)
            cards += card_object
        return cards

In [8]:
text_colors = {
    "reset": "\033[0m",
    "black": "\033[30m",
    "red": "\033[38;2;255;0;0m",
    "red1": "\033[91m",
    "light_red": "\033[1;31m",
    "blue": "\033[38;2;0;0;255m",
    "green": "\033[38;2;0;105;0m",
    "yellow": "\033[33m",
    "orange": "\033[38;5;208m",
    "purple": "\033[35m",
    "cyan": "\033[36m",
    "white": "\033[38;2;255;255;255m",
    "gray": "\033[90m",
    "light_gray": "\033[37m",
    "magenta": "\033[95m",
    "bright_green": "\033[92m"
}

bg_colors = {
    "black": "\033[48;2;0;0;0m",
    "white": "\033[48;2;255;255;255m",
    "gray": "\033[48;2;155;155;155m",
    "red": "\033[48;2;255;0;0m",
    "blue": "\033[48;2;0;0;255m",
    "green": "\033[48;2;0;105;0m",
    "yellow": "\033[48;2;255;255;0m",
    "orange": "\033[48;5;208m",
    "purple": "\033[48;2;128;0;128m",
    "cyan": "\033[48;2;0;255;255m",
    "light_gray": "\033[48;5;250m",
    "dark_gray": "\033[48;5;235m"
}

colors = {"text_colors":text_colors, "bg_colors":bg_colors}
colors["text_colors"]["reset"]="\033[0m"

In [13]:
import random
attack_dice =1
dice_values = [0] * 3
dice_values = [0] * 3
for i in range(attack_dice):
    print(f"{i=}")
    dice_values[i] = random.randint(1, 6)

i=0

In [18]:
choice = [1,3,4]
choice = [i-1 for i in choice]
cards = ["A","B","C","D","E","F"]
selection = [cards[i] for i in choice]
print(selection)

['A', 'C', 'D']

In [24]:
total_artillery_hands = 0
total_calvary_hands = 1
total_combination_hands = 0
total_infantry_hands = 0
hands = [total_artillery_hands, total_calvary_hands, total_infantry_hands, total_combination_hands]   
labels = ["Total Artillery Hands", "Total Calvary Hands", "Total Infantry Hands", "Total Combination Hands"]
total_hands = sum(hands)
result = [(labels[n],i) for n,i in enumerate(hands) if i]
print(result)

[('Total Calvary Hands', 1)]

In [43]:
import math
print(math.floor(6/3))

2